body {
    border: none; 
    margin: 0; 
    padding: 0; 
    text-align: center;
}

#canvas {
    image-rendering: optimizeSpeed; 
    image-rendering: -moz-crisp-edges; 
    image-rendering: -webkit-optimize-contrast; 
    image-rendering: optimize-contrast; 
    -ms-interpolation-mode: nearest-neighbor;
    -webkit-font-smoothing: none;
}
